.center.jumbotron
  .text-center
    %h1 Send Us Your Address
    %h2 and we'll let you know where you are
  .row
    .col-md-6.col-md-offset-3
      = form_tag locations_path, method: :get do
        .form-group
          = label_tag :address
          = text_field_tag :search, params[:search], class: 'form-control'
        .form-group
          = submit_tag('Submit', name: nil, class: 'btn btn-lg btn-primary')

        - if @locations.blank?
          %section
            .text-center
              %h3
                Please try modifying your search to get more results

      -##coordinates
      -#  %h3
      -#    - if @location.present?
      -#      %b= "#{@location.latitude} #{@location.longitude}"
      -#    - else
      -#      %b There are no locations.
%br


= link_to 'New Location', new_location_path

%h1 Listing locations

.row
  .col-lg-12
    %table.table
      %thead
        %tr
          %th Address
          %th Latitude
          %th Longitude
      %tbody
        - @locations.each do |location|
          %tr
            %td= link_to location.address, location
            %td= location.latitude
            %td= location.longitude
            %td
              = link_to edit_location_path(location), title: 'Edit' do
                %span.glyphicon.glyphicon-edit
            %td
              = link_to location, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' do
                %span.glyphicon.glyphicon-trash
  .col-lg-12
    = paginate @locations if @locations.present?