%p#notice= notice

.text-left
  %b Address:
  %legend= @location.address
.text-left
  %b Latitude:
  %legend= @location.latitude
.text-left
  %b Longitude:
  %legend= @location.longitude

.img-responsive
  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=15&markers=#{@location.latitude}%2C#{@location.longitude}"

- if @location.nearbys.present?
  %h3 Nearby Locations
  %ul.list-group
  - for location in @location.nearbys(10)
    %li.list-group-item-heading
      = link_to location.address, location
      (#{location.distance.round(2)} miles)

= link_to edit_location_path(@location), title: 'Edit' do
  %span.glyphicon.glyphicon-edit
\|
= link_to @location, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' do
  %span.glyphicon.glyphicon-trash
\|
= link_to 'Back', locations_path