%h1.page-header
  = @location.address
.card-block
  .text-left
    %b Coordinates
    %legend #{@location.latitude}, #{@location.longitude}
  .row
    .col-sm-1
      = link_to edit_location_path(@location), title: 'Edit current location', class: 'edit' do
        %span.glyphicon.glyphicon-edit
      = link_to @location, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy current location', class: 'destroy' do
        %span.glyphicon.glyphicon-trash
  .text-center
    = image_tag "https://maps.googleapis.com/maps/api/staticmap?size=500x400&sensor=false&zoom=15&markers=#{@location.latitude}%2C#{@location.longitude}&key=AIzaSyDpDfTHgUxH9G2CWIQaLab0mO0ZtJN4PLA",
      alt: "#{@location.address} on the map", class: 'img-thumbnail'

- if @location.nearbys.present?
  %h3.page-header Places near this address
  %ul.list-group
  - for location in @location.nearbys(10)
    %li.list-group-item
      = link_to location.address, location
      (#{location.distance.round(2)} km)
