%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ aria: { expanded: 'false' }, data: { target: '#bs-example-navbar-collapse-1', toggle: 'collapse' }, type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to root_path do
          Geo-Coordinates
          %span.glyphicon.glyphicon-globe{ aria: { hidden: true } }
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to new_location_path, class: 'new' do
            New Location
            %span.glyphicon.glyphicon-map-marker{ aria: { hidden: true } }
        %li
          = link_to locations_path, class: 'all' do
            All Locations
            %span.glyphicon.glyphicon-list{ aria: { hidden: true } }
        %li
          = link_to new_distance_path, class: 'new_distance' do
            Measure Distance
            %span.glyphicon.glyphicon-resize-horizontal
      .navbar-form.navbar-right
        = form_tag locations_path, method: :get do
          .form-group
            = text_field_tag :search, params[:search], placeholder: 'Nearby places...', class: 'form-control'
          .form-group
            = submit_tag 'Search Near', name: nil, class: 'btn btn-default'